  body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Para ocultar la barra de desplazamiento horizontal */
    overflow-y: hidden; /* Inicialmente deshabilita el scroll vertical */
    text-align: center;
  }

 
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté por encima de todo */
    transition: opacity 2s ease; /* Transición de opacidad */
  }

  .preloader-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/fondo.png'); /* Cambiar la ruta por la imagen deseada */
    filter: blur(5px); /* Efecto de desenfoque */
    z-index: -1; /* Envía la imagen de preloader detrás de todo */
  }

  .progress-bar {
    width: 70%;
    max-width: 600px;
    height: 20px;
    background-color: #f3f3f399;
    border-radius: 10px;
    overflow: hidden;
  }

  .progress {
    width: 0;
    height: 100%;
    background-color: #cca85b;
    transition: width 2s ease; /* Transición de la barra de progreso */
  }

	.progress-bar-container {
	width: 700px;
background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    	z-index: 10000; /* Asegura que esté por encima de la imagen de preloader */
  	}

  .loading-text {
    text-align: center;
    margin-top: 10px;
    color: white;
    z-index: 10000;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px); /* Efecto de desenfoque */
    transition: filter 2s ease; /* Transición de desenfoque */
  }

  .parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .parallax1 {
    background-image: url('../img/fondo2.png'); /* Cambiar la ruta por la imagen deseada */
  }
  .parallax2 {
     background-image: url('../img/fondo2.png'); /* Cambiar la ruta por la imagen deseada */
    height: 60vh;
  }

  .media-section {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    filter: drop-shadow(2px 4px 6px black);
  }
.custom{
  font-family: 'cymbeline';
  font-size: 20pt;
  color: rgb(8, 58, 8);

}
  .section {
    padding: 20px;
  }

.blur{
  filter: blur(2px);
}


.nombre-img {
    opacity: 0; /* Inicialmente oculta la imagen */
    transition: opacity 1s ease; /* Añade una transición suave de opacidad */
}

.nombre-img.visible {
    opacity: 1; /* Muestra la imagen después de cargar y pasado el tiempo de espera */
    animation: zoomIn 1s ease forwards; /* Agrega una animación para hacer zoom después de 3 segundos */
}

@keyframes zoomIn {
    from {
        transform: scale(0.5); /* Escala inicial de la imagen */
        opacity: 0; /* Opacidad inicial */
    }
    to {
        transform: scale(1); /* Escala final de la imagen */
        opacity: 1; /* Opacidad final */
    }
}

/* Estilo de clase para elementos que se animarán al hacer scroll */
.animate-on-scroll {
  opacity: 0;
    transition: opacity 1s ease;
    height: auto; /* Ajusta la altura del contenedor */
    padding: 20px; /* Añade un relleno para asegurar una altura visual */
    box-sizing: border-box; /* Incluye el relleno en el tamaño total del contenedor */
}

.visible {
  
    opacity: 1; /* Hace visible el elemento */
    animation: appearFromBelow 1s ease forwards; /* Animación para aparecer desde abajo */
}

@keyframes appearFromBelow {
    from {
        transform: translateY(50px); /* Inicia la animación 50px más abajo */
        opacity: 0; /* Opacidad inicial */
    }
    to {
        transform: translateY(0); /* Termina la animación en su posición actual */
        opacity: 1; /* Opacidad final */
    }
}

/* Estilo para la barra de scroll */
  ::-webkit-scrollbar {
	z-index:10000;
    width: 5px; /* Ancho de la barra de scroll */
    background-color: #ffff; /* Color de fondo transparente */
  }

  /* Estilo para el pulgar de la barra de scroll */
  ::-webkit-scrollbar-thumb {
    
    background-color: rgba(0, 0, 0, 0.5); /* Color del pulgar con transparencia */
    border-radius: 5px; /* Borde redondeado */
  }


  @font-face {     font-family: 'Cymbeline';     src: url(../Font/Cymbeline\ Regular.ttf) format(truetype);
  }

  @media only screen and (max-width: 900px) {
    .progress-bar-container { width: 90%;}
    .section{ 
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .custom{
      font-size: 23pt;
      
    }

    .parallax2 .chica{
      width: 90%;
    }
  
    .media-section img{ 
       width: 750px; }
} 


